[Unit]
Description=Lektor admin server
After=network.target

[Service]
User=lektor
ExecStart=/home/lektor/lektor/ve/bin/lektor server -p 500PORT_NUMBER
WorkingDirectory=/home/lektor/lektor/run
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
